<div class="main-content">
    <div align="center" class="alert alert-warning col-md-12" role="alert">
        <h2>Members Special</h2>
        <p>Thank you being an Exclusive Member!</p>
        <h5>Now get FLAT 7% off on your order being a exclusive member!</h5>
        <h5>LIMITED PERIOD OFFER</h5>
        <br>
        <h5 style="text-align: left">Perks of being an exclusive member:
        <ul>
            <li>Early access to SALE</li>
            <li>One-Day Priority shipping</li>
            <li>Exclusive benefits</li>
            <li>Additional Discounts on EVERY Purchase</li>
        </ul>
        </h5>
    </div>
</div>
